/storage/*.key
/vendor
/node_modules
/public/build
/public/hot
/public/storage
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/.zed
/auth.json

# Storage - Ignore contents but keep directories
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/app/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/logs/*.log


*.log
.DS_Store
Thumbs.db
